.Home {
  /* based it on laptop 13 inch */
  height: 1230px;
  width: 850px;
}

.one-home {
  height: 100vh;
}
.right1-home {
  position: absolute;
  left: 20%;
  top: 0%;
  height: 100vh;
  width: 80%;
}
.container-home {
  position: relative;
  left: 10%;
  top: 55%;
  height: 100%;
}

.viral-home {
  position: relative;
  height: 30%;
}
.viral-home .viral-text {
  position: relative;
  color: #c56464;
  font-family: LexendGiga;
  font-size: 1.5vw;
  font-stretch: expanded;
  margin-bottom: 2%;
}

.viral-flex {
  display: flex;
  height: 70%;
  width: 100%;
  margin-bottom: 5%;
}

.music-viral {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  height: 100%;
  width: 15%;
  margin-right: 5%;
  border-radius: 10px;
  border: solid black 2px;
}

.music-viral .title-viral {
  font-size: 1.4vw;
}

.music-viral .artist-viral {
  font-size: 1vw;
}
.underline-viral {
  background-color: black;
  height: 2px;
  position: relative;
  top: 20%;
  left: -10%;
}
.two-home {
  height: 600px;
}
.left2-home {
  position: absolute;
  left: 0%;
  top: 100%;
  width: 20%;
  height: 600px;
  background-color: #e84545;
}

.right2-home {
  position: absolute;
  left: 20%;
  top: 100%;
  width: 80%;
  height: 600px;
}

.forum-home {
  position: relative;
  left: 10%;
}
