.Home {
  /* based it on laptop 13 inch */
  height: 1230px;
  width: 850px;
}

.one-home {
  height: 100vh;
}
.right1-home {
  position: absolute;
  left: 20%;
  top: 0%;
  height: 100vh;
  width: 80%;
}
.container-home {
  position: relative;
  left: 10%;
  top: 55%;
  height: 100%;
  /* background-color: gray; */
}

.viral-home {
  position: relative;
  height: 30%;
}
.viral-home .viral-text {
  position: relative;
  color: #c56464;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: bold;
  font-stretch: expanded;
  /* margin-bottom: 2%; */
}

.viral-flex {
  position: relative;
  /* left: 3%; */
  left: 10%;
  display: flex;
  height: 90%;
  width: 100%;
  margin-bottom: 5%;
  cursor: pointer;
  /* border-bottom: 2px solid black; */

  /* background-color: gray; */
}

.viral-flex :hover {
  opacity: 85%;
  /* background-color: gray; */
}

.picture-viral {
  height: 70%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
.music-viral {
  background-color: black;
  padding: 20px;
  font-size: 30px;
  height: 100%;
  width: 15%;
  /* height: 500px;
  width: 500px; */
  /* margin-right: 100px; */
  margin-right: 5%;
  border-radius: 30px;
  border: solid black 2px;
  color: white;
}
.will {
  background-image: url("../img/profilecreators/wil.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.josh {
  background-image: url("../img/profilecreators/josh.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.andrean {
  background-image: url("../img/profilecreators/andrean.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sir {
  background-image: url("../img/profilecreators/sirbagus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.singer-storyline {
  background-image: url("../img/Singer.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.music-viral .title-viral {
  font-size: 1.4vw;
}

.music-viral .artist-viral {
  font-size: 1vw;
}
.underline-viral {
  position: relative;
  /* width: 300vh; */
  width: 100%;
  right: 10%;
  height: 80%;
  padding: 30px;
  border-bottom: 5px solid black;
  padding-bottom: 5%;
  /* overflow-x: scroll;
  overflow-y: hidden; */

  /* background-color: black;
  height: 2px;
  position: relative;
  top: 20%;
  left: -10%; */
}

.two-home {
  height: 600px;
}
.left2-home {
  position: absolute;
  left: 0%;
  top: 100%;
  width: 20%;
  height: 600px;
  background-color: #e84545;
}

.right2-home {
  position: absolute;
  left: 30%;
  top: 100%;
  width: 80%;
  height: 600px;
}

.forum-home {
  height: 100%;
}
.berita-title {
  font-size: 3vw;
  position: relative;
  /* left: 5%; */
  margin-bottom: 2%;
  font-weight: bold;
  display: flex;
}
.berita-title-a {
  color: #e84545;
}
.berita-title-b {
  color: #2b2e4a;
}

.berita-container {
  height: 60vh;
  padding-bottom: 5%;
  width: 80%;
  /* background-color: gray; */
  /* background-color: red; */
  /* background-color: #2b2e4a; */
  border-radius: 20px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3), 0 8px 30px 0 rgba(0, 0, 0, 0.25);
}

.title-berita-isi {
  padding-top: 3%;
  font-size: 2.2vw;
  text-align: center;
  font-weight: 700;
}

.berita-detail {
  font-weight: 500;
  font-size: 1.3vw;
  position: relative;
  left: 10%;
}

.berita-detail li {
  list-style: none;
}
.pict-storyline {
  position: relative;
  left: 35%;
  width: 30%;
  height: 50%;
  border-radius: 20px;
}

.berita-storyline {
  height: 30vh;
  overflow-y: scroll;
  width: 80%;
  position: relative;
  left: 10%;
  font-size: 1vw;
  background-color: #fff;
  border-radius: 20px;
  overflow-x: hidden;

  /* display: flex; */
}
.pict-and-story {
  /* display: flex; */
}
.berita-storyline p {
  position: relative;
  /* top: -70%; */
  left: 2%;
  width: 98%;
}
.p-satu {
  /* width: 50%;
  text-align: left;
  position: relative;
  left: 45%;
  top: -70%; */
}
.whitespace {
  margin-top: 5%;
  height: 10%;
  background-color: white;
  width: 100%;
}

.berita-container:hover {
  /* Add other transform properties for the desired 3D effect */
  box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.3),
    0 16px 60px 0 rgba(0, 0, 0, 0.25);
}
