.left-part {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  background-color: #e84545;
  height: 100vh;
  font-family: LexendGiga;
}
.nav-bar {
  position: relative;
  top: 10%;
  font-weight: bold;
  font-size: 2vw;
  font-family: LexendGiga;
}
.home-navbar {
  margin-bottom: 10%;
  text-align: center;
}
.posted-navbar {
  margin-bottom: 10%;
  text-align: center;
}
.produce-navbar {
  text-align: center;
  margin-bottom: 10%;
}
.premium-navbar {
  text-align: center;
  margin-bottom: 10%;
}
.log-out-navbar {
  text-align: center;
}
