.Login {
  width: 1230;
  height: 850px;
  background-color: #fff;
}
.left {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100vh;
  /* background-color:black; */
}

.Title {
  position: fixed;
  top: 5%;
  left: 12%;
}
.Title .MUSIC-MATE {
  font-weight: bold;
  font-family: Inter;
  font-size: 4vw;
  position: relative;
  top: 0%;
  left: 0%;
}
.Title .Rectangle-84 {
  width: 100%;
  height: 0%;
  font-size: 1vw;
  /* border-radius: 10%; */
  background-color: #343434;
}
.Title .Moto {
  font-weight: bold;
  font-family: Inter;
  font-size: 1.7vw;
  text-align: center;
  font-weight: normal;
  position: relative;
  top: 0%;
  left: 0%;
}

.right {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #2b2e4a;
  width: 50%;
  height: 100vh;
}
/* .mmlogo {
  position: relative;
  left: 15%;
  top: -18%;
} */
.mmlogo {
  position: absolute;
  top: -3%;
  opacity: 100%;
}
.login-bg-img {
  position: absolute;
  top: 20%;
}
.user-info {
  position: relative;
  left: 5%;
  /* top: -30%; */
  top: 0%;
  color: #fff;
  font-size: 3vw;
}
.user-info .username {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3%;
  font-weight: bold;
}
.user-info .password {
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3%;
  font-weight: bold;
}
/* .user-info .textfield2 {
  font-size: 3vw;
}
.password-textfield2-login {
  padding: 10px;
  font-size: 3vw;
  margin-bottom: 10px;
  border-radius: 20px;
} */

.user-info .LogIn {
  margin-top: 3%;
  font-family: Overpass;
  position: relative;
  left: 10%;
}
.user-info .button1 {
  width: 60%;
  text-align: center;
}
.btn {
  color: white;
  font-weight: bold;
  background-color: gray;
}
.btn:hover {
  font-weight: bold;
  background-color: gray;
}
.create-an-account {
  position: relative;
  text-align: center;
  width: 60%;
  font-size: 1.7vw;
  font-family: "Open Sans", sans-serif;
}
.link-login {
  color: #fff;
  cursor: pointer;
}
.link-login span:hover {
  color: gray;
}

.error-message-login {
  font-size: 1vw;
  color: white;
  position: relative;
  left: 3%;
}
