.music-player-container {
  display: flex;
  justify-content: left;
  align-items: left;
}

.music-player-box {
  width: 40vh;
  height: 5vh;
  background-color: #b3d5e6;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 5%;
}

.audio-player {
  width: 90%;
  height: 70%;
  position: relative;
  top: 15%;
  left: 5%;
}
