.Posted {
  background-color: #fff;
  width: 1230px;
  height: 1000px;
}

/* .one-posted {
  height: 100vh;
} */
/* .two-posted {
  height: 600px;
} */

.right-posted {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
}
.header-posted {
  height: 10%;
  width: 100%;
  background-color: #2b2e4a;
}
.header-posted .yourpost {
  position: relative;
  font-family: LexendGiga;
  text-align: justify;
  font-weight: bold;
  font-size: 3vw;
  color: #fff;
  margin-left: 5%;
  top: 30%;
  margin-bottom: 5%;
}
.container-posted {
  height: 100%;
}
.container-header-posted {
  margin-top: 5%;
  position: relative;
  left: 5%;
  font-size: 1.8vw;
  font-family: Inter;
}
.container-header-posted .username-posted {
  font-size: 1.2vw;
}
.search-posted {
  width: 100%;
}
.container-header-posted .search-your-music-chat {
  margin-top: 2%;
  font-size: 1.2vw;
  margin-bottom: 2%;
}
.search-music-chat {
  margin-bottom: 2%;
  width: 100%;
}
.search-bar {
  font-size: 2vw;
}
.Filter-NewPost {
  width: 100%;
  height: 5%;
}
.filter-btn {
  font-size: 1vw;
  margin-right: 2%;
  border-radius: 10px;
  background-color: #dedede;
  border: 1px solid #dedede;
}

.newpost__btn {
  background-color: #e84545;
  font-size: 1.5vw;
  color: #fff;
  position: relative;
  border-radius: 30px;
  left: 45%;
  width: 17%;
}

.underline {
  width: 100%;
  background-color: black;
  margin-top: 2%;
  height: 3px;
}
.two-posted-right {
  position: absolute;
  left: 20%;
}
.title {
  font-size: 2.5vh;
}
.description {
  width: 60%;
  height: 10%;
  margin-bottom: 2%;
  font-size: 2vh;
}
