.Posted {
  background-color: #fff;
  width: 1230px;
  height: 1000px;
}

/* .one-posted {
  height: 100vh;
} */
/* .two-posted {
  height: 600px;
} */

.right-posted {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
}
.header-posted {
  height: 10%;
  width: 100%;
  background-color: #2b2e4a;
}
.header-posted .yourpost {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-weight: bold;
  font-size: 3vw;
  color: #fff;
  margin-left: 5%;
  top: 30%;
  margin-bottom: 5%;
}
.container-posted {
  height: 100%;
}
.container-header-posted {
  margin-top: 5%;
  position: relative;
  left: 5%;
  font-size: 1.8vw;
  font-family: Inter;
}
.container-header-posted .username-posted {
  font-size: 1.2vw;
}
.search-posted {
  width: 100%;
}
.container-header-posted .search-your-music-chat {
  margin-top: 2%;
  font-size: 1.2vw;
  margin-bottom: 2%;
}
.search-music-chat {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
}
.search-bar-container {
  width: 80%;
  /* margin-right: 2%; */
}
.search-bar {
  font-size: 2vw;
  padding-left: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.search-bar-container2 {
  position: relative;
  right: 3%;
  width: 10%;
}
.search-btn {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  font-size: 1.5vw;
  cursor: pointer;
  padding: 20px;
}
.search-btn:hover {
  opacity: 75%;
}

.Filter-NewPost {
  width: 100%;
  height: 5%;
}
.filter-btn {
  font-size: 1vw;
  margin-right: 2%;
  border-radius: 10px;
  background-color: #dedede;
  border: 1px solid #dedede;
}

.newpost__btn {
  background-color: #e84545;
  font-size: 1.5vw;
  color: #fff;
  position: relative;
  border-radius: 30px;
  left: 65%;
  width: 10%;
  cursor: pointer;
}
.newpost__btn:hover {
  opacity: 75%;
}

.underline {
  width: 100%;
  background-color: black;
  margin-top: 2%;
  height: 3px;
}
.two-posted-right {
  position: absolute;
  left: 20%;
}
.title {
  font-size: 2.5vh;
}
.description {
  width: 60%;
  height: 10%;
  margin-bottom: 2%;
  font-size: 2vh;
}
.popup-footer {
}
.post-post {
}
.your-post {
  margin-top: 3%;
  position: absolute;
  width: 90%;
  left: 5%;
}

.post-post {
  background-color: #fff;
  border-radius: 6px;
  /* margin: 20px; */
  padding: 10px 10px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  width: 100%;
  margin-bottom: 2%;
}

.post-title {
  font-size: 2vh;
  font-weight: bold;
}

.post-description {
  font-size: 1.5vh;
}
.post-file {
  font-size: 0.8vh;
}
.icon {
  margin-top: 2%;
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block; */
  border: 2px solid black;
  text-align: center;
}
.icon span {
  /* text-align: center; */
  display: inline-block;
  margin: 0 15% 0 15%;
  cursor: pointer;
  font-size: 0.5vw;
}
.post-underline {
  margin-top: 1%;
  height: 2px;
  width: 100%;
  background-color: black;
}

.X {
  /* background-color: red;
  padding: 0.2%;
  font-size:0.8vw; */
}
.post-btn {
  font-size: 1vw;
  margin-right: 2%;
}
