/* Style for the tweets container */
.waduh {
  margin: 2%;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 4px;
  font-style: bold;
  width: 90%;
}
.underline-timeline {
  width: 100%;
  background-color: black;
  height: 3px;
}

/* Style for the tweet search term */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2b272bfb;
  font-style: normal;
}

h1 {
  font-size: 20px;
}

/* Style for the tweet text */
p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

/* Style for the tweet love */
h3 {
  font-size: 18px;
  margin: 20px 0 10px 0;
  color: #777;
}

/* Style for the like/dislike button */
.timeline-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.timeline-btn:hover {
  background-color: #45a049;
}

/* Style for the comment form */
form {
  margin-top: 20px;
}

/* Style for the comment input field */
.Timeline-input {
  position: relative;
  left: 5%;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.text-timeline {
  font-weight: 600;
  font-size: 1.5vw;
}

/* Style for the add comment button */
/* button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
} */

.btn-a {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}
/* Style for the comment container */
.comment-container {
  margin-top: 20px;
}

/* Style for the comment paragraph */
.comment-container p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

/* Style for the show/hide comments button */
.comment-container button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.comment-container button:hover {
  background-color: #45a049;
}
.username-timeline {
  /* background-color: gray;
  width: auto; */
  position: relative;
  left: 5%;
  margin-top: 2%;
  color: black;
  font-weight: 500;
  font-size: 1.3vw;
  margin-bottom: 2%;
}
/* .username {
  transition: opacity 0.3s;
} */
.twt-username {
  background-color: #9999;
  padding: 4px;
  width: 30%;
  /* text-align: center; */
  border-radius: 5px;
  cursor: pointer;
}
.username-timeline:hover {
  opacity: 0.4;
  color: royalblue;
}
.icon-username {
  margin-right: 5%;
  /* font-size: 1.vw; */
}
.title-timeline-container {
  font-size: 2.5vw;
  font-weight: bold;
  /* text-align:center; */
  position: relative;
  left: 10%;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.love-container {
  display: flex;
  align-items: center;
  font-size: 1vw;
  position: relative;
  left: 10%;
}

.like-btn {
  position: relative;
  left: 10%;
  cursor: pointer;
  /* background-color: #9b1c31; */
  border: 1px solid black;
  border-radius: 5px;

  background-color: white;
  /* background-color:  */
}
.like-btn:hover {
  opacity: 75%;
  background-color: #9999;
  color: white;
}

/* .love-container h3, */
/* .love-container .love-symbol {
  display: inline;
  margin-right: 5px;
} */

.love-symbol {
  font-size: 1.2vw; /* Adjust the font size as desired */
  color: #9b1c31;
}

.bar {
  margin: 2%;
}
.comment-container {
  position: relative;
  left: 5%;
  margin-bottom: 2%;
}
.comment-text {
  font-size: 1.8vw;
  font-weight: 500;
  /* margit-bottom: 2px; */
}
.comment-input {
  margin-top: 2%;
  width: 70%;
  padding: 15px;
  font-size: 1.5vw;
  border: 2px;
  border-radius: 20px;
}
.comment-btn {
  /* padding: 15px; */
  width: 15%;
  font-size: 1.8vw;
  margin-left: 4%;
}
.comment-on-timeline {
  position: relative;
  left: 10%;
}
.comments-styling {
  font-size: 1vw;
}
.sa-comment-btn {
  border-radius: 20px;
}
.music-title {
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 2%;
}
.music-file-timeline {
  background-color: #9999;
  padding: 20px;
  border-radius: 30px;
}
.music-date {
  /* position: relative; */
  /* left: 70%; */
  margin-left: 2%;
  font-size: 0.8vw;
}
