/* Style for the search bar */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style for the tweets container */
.waduh {
  background-color: #f2f2f2;
  padding-left: 20px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-style: bold;
}

/* Style for the tweet search term */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2b272bfb;
  font-style: normal;
}

h1 {
  font-size: 20px;
}

/* Style for the tweet text */
p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

/* Style for the tweet love */
h3 {
  font-size: 18px;
  margin: 20px 0 10px 0;
  color: #777;
}

/* Style for the like/dislike button */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* Style for the comment form */
form {
  margin-top: 20px;
}

/* Style for the comment input field */
.Timeline-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style for the add comment button */
/* button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
} */

.btn-a {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}
/* Style for the comment container */
.comment-container {
  margin-top: 20px;
}

/* Style for the comment paragraph */
.comment-container p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

/* Style for the show/hide comments button */
.comment-container button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.comment-container button:hover {
  background-color: #45a049;
}

.username {
  transition: opacity 0.3s;
}

.username:hover {
  opacity: 0.4;
  color: royalblue;
}

.love-container {
  display: flex;
  align-items: center;
  size: 5px;
}

.love-container h3,
.love-container .love-symbol {
  display: inline;
  margin-right: 5px;
}

.love-symbol {
  font-size: 25px; /* Adjust the font size as desired */
}

.bar {
  padding-top: 522px;
}
